:root {
  --sidebar-bg: #0f172a;
  --sidebar-fg: #cbd5e1;
  --sidebar-active: #38bdf8;
  --sidebar-spacer: #1e293b;
  --sidebar-non-existant: #64748b;
  --scrollbar: #334155;

  --icons: #94a3b8;
  --icons-hover: #e2e8f0;

  --links: #0ea5e9;
  --inline-code-color: #0ea5e9;

  --theme-popup-bg: #0f172a;
  --theme-popup-border: #1e293b;
  --theme-hover: #1e293b;

  --quote-bg: #f1f5f9;
  --quote-border: #cbd5e1;

  --warning-border: #f59e0b;

  --table-border-color: #e2e8f0;
  --table-header-bg: #f8fafc;
  --table-alternate-bg: #f8fafc;

  --searchbar-border-color: #cbd5e1;
  --searchbar-bg: #f8fafc;
  --searchbar-fg: #0f172a;
  --searchbar-shadow-color: #cbd5e1;
  --searchresults-header-fg: #0f172a;
  --searchresults-border-color: #cbd5e1;
  --searchresults-li-bg: #f1f5f9;
  --search-mark-bg: #bae6fd;

  --content-max-width: 900px;
}
